html { 
  font-size: 10px; 
  height: 100%;
  margin: 0;
}

body { 
  box-sizing: border-box;
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.postimg.cc/3xpfQV5s/noise-bg.png);
  background-color: #155;
  margin: 0;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  display: grid;
  grid-template-areas:
    'title title'
    'pad markdown';
  place-items: center;
  gap: 20px;
  padding: 50px 0;
  flex: 1; /* Ensures the app takes the remaining space */
}

#title {
  grid-area: title;
  color: #eee;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 5rem;
  text-shadow: 5px 5px #333;
}

#pad,
#markdown {
  width: 500px;
  height: 600px;
  padding: 24px 14px 14px 14px;
  border: none;
  border-radius: 3px;
  resize: none; /* Makes the textarea non-resizable */
}

#pad {
  grid-area: pad;
  background: #eee;
  box-shadow: 5px 5px #448484;
}

#markdown {
  grid-area: markdown;
  background: #333;
  color: white;
  font-family: 'Molengo', sans-serif;
  font-size: 1.2rem;
  box-shadow: 5px 5px #448484;
  overflow-y: auto;
}

a { 
  color: #D6EFA3; 
}

li { 
  margin-left: 3rem; 
}

blockquote {
  margin-left: 2rem;
  padding-left: 0.6rem;
  border-left: 0.4rem solid grey;
}

/* Footer styles */
footer {
  background-color: #2b2b2b;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer-icons a:hover {
  background-color: #fff;
  color: #2b2b2b;
}

.footer-copyright {
  font-size: 14px;
  color: #aaa;
}

@media only screen and (max-width: 1050px) {
  .App {
    grid-template-areas:
      'title'
      'pad'
      'markdown';
  }

  #pad,
  #markdown {
    width: 90vw;
    height: 400px;
  }
}
